@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text");

.container-barcode{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}
.container-barcode h1{
    position: relative;
    display: contents;
    color: #626B5B;
    font-size: 7rem;
    font-weight: 100;
    font-family: 'Libre Barcode 128 Text';
}
.container-barcode span{
    user-select: none;
    padding-bottom: 10px;
    animation: anim 2.8s ease-out infinite;
    animation-delay: var(--d);
}
@keyframes anim {
    0%,
    90%{
        color: rgb(192, 165, 192);
        text-shadow: none;
        border-bottom: 1px solid transparent;
    }
    100%{
        color: rgb(142, 155, 167);
        border-bottom: 1px solid rgb(211, 18, 18);
        text-shadow: 1px 1px 35px aqua;
    }
}