@import url("https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text");

.container{
    box-shadow: 0 0 30px 3px #3d4846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 15px;
}
h1{
    position: relative;
    display: contents;
    color: #626B5B;
    font-size: 10rem;
    font-weight: 100;
    font-family: 'Libre Barcode 128 Text';
}
span{
    user-select: none;
    padding-bottom: 10px;
    animation: anim 2.8s ease-out infinite;
    animation-delay: var(--d);
}
@keyframes anim {
    0%,
    90%{
        color: #626B5B;
        text-shadow: none;
        border-bottom: 1px solid transparent;
    }
    100%{
        color: aliceblue;
        border-bottom: 1px solid darkred;
        text-shadow: 1px 1px 35px aqua;
    }
}