body {
	background: rgb(73, 23, 155);
}

.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

.logo-container {
	flex: 1;
	margin-top: 20px;
}

.logo {
	height: 100px;
	width: auto;
}

.content-container {
	flex: 2;
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
}

.image {
	height: 300px;
	width: auto;
	
}

.process {
	color: white;
	font-size: 20px;
	margin-top: 0;
	
}


