.card{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: auto;
   
   
}
.vi ew{
    
    display: inline-block;
    border-radius: 10%;
    margin-top: 15px;
    box-shadow: 0 15px 35px #00000033;
}
.view h4{
    font-size: 2em;
    padding: 0;
    border: 2px solid black;
    border-radius: 10px ;
}
.view p{
    border: 1px solid #fff;
    background: #fff;
    border-radius: 15px;
    font-size: 3em;
    text-align: center;
    color: #000;
}